.register {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.h1 {
  font-size: 4rem;
  text-decoration: underline;
}

#register-username {
  width: 300px;
}

#register-password {
  width: 300px;
}

#register-confirm-password {
  width: 300px;
}